#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-header
  > .cam-wrap {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-header
  > .cam-wrap
  > .manager {
  display: flex;
  align-items: center;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-header
  > .cam-wrap
  > .manager
  > .img-wrap {
  position: relative;
  margin-right: 20px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-header
  > .cam-wrap
  > .manager
  > .img-wrap
  > img {
  background-color: #c4c4c4;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-header
  > .cam-wrap
  > .manager
  > .img-wrap
  > .online {
  position: absolute;
  box-sizing: content-box !important;
  width: 7px;
  height: 7px;
  background-color: var(--color);
  border: 3px solid #ffffff;
  border-radius: 50px;
  right: -1px;
  bottom: 6px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-header
  > .cam-wrap
  > .control {
  display: flex;
}
