#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .form
  > .agreement {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
