#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .info-message {
  background-color: var(--color);
  margin: 30px 20px;
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .info-message
  > .message {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
