#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat
  > .format-message {
  margin: 20px;
  padding: 20px;
  background: var(--color);
  border-radius: 10px;
  text-align: center;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat
  > .format-message
  > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat
  > .format-message
  > .start-video {
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--color);
  box-shadow: 0px 8px 18px var(--shadow);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat
  > .format-message
  > .start-video
  p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: white !important;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat
  > .format-message
  > .keep-chat {
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid var(--color);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat
  > .format-message
  > .keep-chat
  p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat
  > .format-message
  > .info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
