#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

#live-appinion-root
  > .widget-wrap
  > .expand-true
  > .appinion-widget-body
  > .appinion-chat::-webkit-scrollbar {
  display: none;
}
